@font-face {
    font-family: Caveat;
    src: url("../assests/Caveat/Caveat-Regular.woff2") format("woff2");
  }


.navpart .navbar{
  font-family: Caveat;
  margin: 0;
  background-color: #f4768bad !important;
}
.brandName{
    font-size: 30px !important;
    font-style: italic;
    color: white !important;
    text-shadow: 10px 10px 3px #9b4c59 !important;
}
.userName{
   margin-left: 35% !important;
   font-size: 25px !important;
   color: white !important;
   font-style: italic;
   border: dotted 2px;
   padding: 40px;
   border-radius: 10%;
   box-shadow: 10px 7px 5px #9b4c59;
   display: none;
}
.navbar-text{
    margin-right: 30px !important;
}
.navbar-text .nav-link{
    position:  relative !important;
    color: white !important;
    font-size: 25px !important;
    margin-right: 5px;
}
.cartCounter{
    background-color:#bb3047;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    top : 4px;
    display: none;
}
.logOut , .cart{
    display: none;
}
.cartProducts{
    margin-left :-50px !important;
    background-color: #f0c8cebb !important;
}
.dropdown-item{
    overflow: auto;
}
.dropdown-item:active{
    background-color: white !important;
}
.sign{
    background-color: #DF065D;
    color: white;
    padding: 3px;
    float: right;
    margin-right: 5px;
    font-size: 10px;
}
.countitems{
    float: right;
    margin-right: 7px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -7px;
    color:rgb(80, 77, 77);
}
.btnToCartPage{
    color: white !important;
    text-align: center !important;
    background-color: #DF065D !important;
}
.cartProducts li{
    width: 240px !important;
}
