@font-face {
    font-family: Caveat;
    src: url("../assests/Caveat/Caveat-Regular.woff2") format("woff2");
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Caveat;
  margin: 0;
  background-color: #e6ddddc5 !important;
}
.part-1{
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: #fdecec;
    font-family: Caveat;
    padding: 20px;
    border-radius: 10%;
    box-shadow:  20px 0 20px 0.25rem  #f38b9c ;
}
.part1-header{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
    color: #a30645;
}
.form-control:focus{
    border-color: #a3064562 !important;
    box-shadow: 0 0 0 0.1rem  #5f02277a !important;
}
.btn-primary{
    background-color: #8a1141 !important;
    border: none !important;
    margin-top: 3%;
    margin-left: 45%;
}
.btn-primary:hover{
  background-color: #a306458f !important;
}
#emailHelp a{
    text-decoration: none;
    color: #a30645;
}
.form-check input:checked {
    background-color: #a30645 !important;
    border: none !important;
    box-shadow: 0 0 0 0.1rem  #5f02277a !important;
}
.form-check input:focus {
  border: none !important;
  box-shadow: 0 0 0 0.1rem  #5f02277a !important;
}
.btn-primary:focus{
  box-shadow: 0 0 0 0.25rem #a306458f !important;
}